on:
  push:
    tags:
      - "v*"

name: Create Release

jobs:
  create-github-release:
    name: Create GitHub release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Create release
        run: gh release create ${{ github.ref }} --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-to-psgallery:
    name: Publish to PSGallery
    needs: create-github-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Publish to PSGallery
        shell: pwsh
        run: Publish-Module -Path "${{ github.workspace }}/src/TcPrjMgmt" -NuGetApiKey ${{ secrets.PSGALLERY_API_KEY }}
